.checkout-page{
    display: flex;
    padding: 30px;
}
.product-data{
    padding: 70px;
    margin-left: 70px;
    
}
.form{
    margin-top: 50px;
    margin-left: 200px;
}
.form div{
    margin: 20px;
}
.form div input{
    width: 300px;
    height: 25px;
}
.form div select{
    height: 25px;
    margin-left: 20px;
}
.form button{
    margin-left: 110px;
    background-color: aqua;
    height: 30px;
}